@page
@model AbbyWeb.Pages.Category.IndexModel

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Category list</h2>
        </div>
        <div class="col-6">
            <a asp-page="create" class="btn btn-primary float-right">Create new category</a>
        </div>
    </div>
    <br /><br />
    <table class="table table-bordered table-stripped" style="width:100%;">
        <thead>
            <tr>
                <th>Category name</th>
                <th>Display order</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.Categories)
            {
                <tr>
                    <td>@obj.Name</td>
                    <td>@obj.DisplayOrder</td>
                    <td>@obj.Title</td>
                    <td>@obj.Description</td>
                    <td><img src="@obj.Image" alt="Item's image'" /></td>
                    <td>@obj.Status</td>
                    <td>
                        <a asp-page="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">Edit</a>
                    </td>
                    <td>
                        <a asp-page="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>